# GPU settings
QWEN_GPU=0
TRELLIS_GPU=0
QWEN_DTYPE=bf16

# Output settings
SAVE_GENERATED_FILES=false
SEND_GENERATED_FILES=false
OUTPUT_DIR=generated_outputs

# Trellis model settings - Optimal3
TRELLIS_MODEL_ID=jetx/trellis-image-large
TRELLIS_SPARSE_STRUCTURE_STEPS=18
TRELLIS_SPARSE_STRUCTURE_CFG_STRENGTH=6.0
TRELLIS_SLAT_STEPS=32
TRELLIS_SLAT_CFG_STRENGTH=5.2
TRELLIS_NUM_OVERSAMPLES=1
COMPRESSION=false

# Qwen model settings
QWEN_EDIT_BASE_MODEL_PATH=Qwen-Image-Edit-2509/Qwen-Image-Edit-2509-Lightning-4steps-V1.0-bf16.safetensors
QWEN_EDIT_MODEL_PATH=Qwen/Qwen-Image-Edit-2509
OUTPUT_IMAGE_SIZE=(640, 640)
PADDING_PERCENTAGE=0.18
